# Backend
PORT=3000

# MongoDB
MONGODB_URI=your_mongodb_atlas_connection_string_here

# AI (add when you set up)
# gpt_API_KEY=your_GPT_api_key_here or any AI depeneing on what we choose 

# Auth (add later)
# JWT_SECRET=your_random_secret_here
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=